################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Лаб. массивы упр 2/.vs/Лаб. массивы упр 2
/Дз по сложению и произведению разрядов числа/.vs/Дз по сложению и произведению разрядов числа
